# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml

# scala build folders
target

# dotfiles
.editorconfig

# logs
scorex-errors.log
*.log

# js
node_modules
.bsp
.DS_Store
yarn.lock
package-lock.json