# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml
.bsp

# scala build folders
target

# dotfiles
.editorconfig

# logs
scorex-errors.log
*.log

# local-only JS-related files and folders
package-lock.json
node_modules/

# Metals
.metals/
**/metals.sbt

# Bloop
**/.bloop
